[submodule "tools/cora/versions/CORA-v2025.2.0"]
	path = tools/cora/versions/CORA-v2025.2.0
	url = https://github.com/TUMcps/CORA.git

[submodule "tools/cora/versions/CORA-v2024.4.1"]
	path = tools/cora/versions/CORA-v2024.4.1
	url = https://github.com/TUMcps/CORA.git
